.play-button {
    background: url(./images/play-button.png);
    background-size: 100% 100%;
    font-size: 0.6em !important;
}

.play-one-step-button {
    background: url(./images/play-one-step-button.png);
    background-size: 100% 100%;
    font-size: 0.6em !important;
}

.stop-button {
    background: url(./images/stop-button.png);
    background-size: 100% 100%;
    font-size: 0.6em !important;
}

.center {
    text-align: center
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .slider {
    background-color: #2196F3;
}
#sigma-container {
    height: 100%;
    width: 100%;
}